<!---DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Myrango</title>
</head>

<body>
<h1>Myrango says...</h1>
hello world!<strong>{{boldmessage}}</strong><br/>
<a href="/myrango/about/">About</a><br/>
<img src="{% static "images/timg.jpg" %}" alt="Picture of Myrango" />
</body>
</html----->

<!---DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <a href="/myrango/about/">About</a>
    </body>
</html--->


<!---DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says..hello world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/myrango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

    </body>
</html--->

<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says..hello world!</h1>

        {% if pages %}
            <ul>
                {% for page in pages %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/myrango/page/{{ page.slug }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no pages present.</strong>
       {% endif %}

    </body>
</html>
